## Instructions Before Making Your Hands Dirty
Recommended to go through the dataset description here: https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset. We have used the dataset named 'covid_19_data.csv' file.

**Note:** To solve these questions please load the data from here: https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv because the data at kaggle is updated everyday using which might lead to get you wrong answers for this particular assignment.

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv")

In [0]:
data.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40805 entries, 0 to 40804
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              40805 non-null  int64
 1   ObservationDate  40805 non-null  object
 2   Province/State   22790 non-null  object
 3   Country/Region   40805 non-null  object
 4   Last Update      40805 non-null  object
 5   Confirmed        40805 non-null  float64
 6   Deaths           40805 non-null  float64
 7   Recovered        40805 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.5+ MB

Information about the dataset:

There are 8 features:

* SNo: Serial number
* ObservationDate: Date of observation of the cases (format: MM/DD/YYYY)
* Province/State: Province or State of the country where cases were observed
* Country/Region: Country where cases were observed
* Last Update: Time in UTC at which the row is updated for the given province or country. (It is not in a standard format)
* Confirmed: Cumulative number of confirmed cases till the date
* Deaths: Cumulative number of deaths till the date
* Recovered: Cumulative number of recovered cases till date

**Instruction for the learner:** 
* Recommended to revise 'groupby()' method of pandas
* Recommended to understand the word **'Cummulative'** properly for three features - 'Confirmed', 'Recovered' and 'Deaths'.
* Please note that the dtype of datetime columns are of object, convert them to datetime as shown below:

In [0]:
data['ObservationDate'] = pd.to_datetime(data['ObservationDate'])
data['Last Update'] = pd.to_datetime(data['Last Update'])

In [0]:
data.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      2020-01-22          Anhui  ...       1.0    0.0        0.0
1    2      2020-01-22        Beijing  ...      14.0    0.0        0.0
2    3      2020-01-22      Chongqing  ...       6.0    0.0        0.0
3    4      2020-01-22         Fujian  ...       1.0    0.0        0.0
4    5      2020-01-22          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

**Question 1**

Which of the following is correct month of median observation date?

1. January
2. March
3. April
4. May

**Question 2**

Create a subset of your data, only taking observations which was **last updated** on **2020-06-13 03:33:14** and name this dataframe as updated_data. Select the correct statement about this dataframe i.e. **updated_data**?

1. There are 729 observations / records
2. There are 190 unique country's records available in the dataframe
3. There are 223 unique country's records available in the dataframe.
4. This dataset doesn't have any missing values.

**Question 3**

Create a subset of data from the dataframe **updated_data**, only taking the top 10 countries which have the maximum number of confirmed cases with features - **'Country/Region', 'Confirmed', 'Deaths' and 'Recovered'**. Name this dataframe as 'top_10'. Which of the following countries are not present in the dataframe 'top_10'.

1. Germany
2. Iran
3. India
4. Spain
5. Peru
6. Chile 
7. Mexico
8. Pakistan
9. USA
10. UK

**Question 4**

Which country has the lowest number of confirmed cases among the ten countries in top_10 dataframe?

1. Germany
2. France
3. India
4. UK

**Question 5**

Add two columns in top_10 dataframe - 'Recovered_percentage' and 'Deaths_percentage' where, 

'Recovered_percentage' = (Recovered cases / Confirmed cases) * 100

'Death_percentage' = (Deaths cases / Confirmed cases) * 100

Among these 10 countries which country has the highest recovery percent?

1. India
2. Italy
3. Spain
4. Germany

**Question 6**

Among the ten countries in top_10 dataframe, which country has the lowest death percentage?

1. India
2. UK
3. USA
4. Germany
5. Russia

**Question 7**

Create a subset of data from the initially loaded data i.e. the datafram **'data'**, which should include the day wise observations of country 'Germany' only with features - **'ObservationDate', 'Confirmed', 'Recovered', 'Deaths'**. Name this dataframe as 'Germany_data'. From the dataset 'Germany_data', what does it look like?
[Note: Here you need graphs to visualize]

1. The rate of confirmed cases and the rate of recovered cases are going parallel to each other.
2. The rate of recovered cases is more than the rate of confirmed cases.

**Question 8**

Take the help of the dataframe 'updated_data' to get the total confirmed, recovered and deaths cases worldwide. Choose the correct option

1. Confirmed cases worldwide is 7632802.
2. Recovered cases worldwide is 3613277.
3. Total number of deaths worldwide is 425394.

**Question 9**

Get the data of USA from the dataframe 'updated_data', group the data state/province wise. Which of the following information is correct about Province/State of USA?

1. New York has the highest number of confirmed cases.
2. Massachusetts has the 5th highest number of confirmed cases.